<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New message</title>
</head>
<body>
  <form method="POST" action="/new">
    <div>
      <label for="user">Your name</label>
      <input id="user" name="user">
    </div>

    <div>
      <label>
        Your message
        <textarea name="text"></textarea>
      </label>
    </div>

    <button>Send</button>
 </form>
</body>
</html>